@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@layer colors {
    :root {
        --color-bluish-black: hsl(218, 80%, 2%);
        --color-bluish-gray: hsl(216, 28%, 7%);
        --color-light-gray: hsl(213, 22%, 11%);
        --color-pale-orange: hsl(11, 90%, 68%);
        --color-blue: hsl(216, 84%, 52%);
        --color-pink: hsl(328, 54%, 59%);
        --color-word: hsl(210, 67%, 96%);
        --color-mute: hsl(0, 0%, 70%);
        --color-border: hsl(214, 12%, 27%);
        --color-badge: hsl(210, 14%, 16%);

        --color-white: hsl(0, 0%, 100%);
        --color-black: hsl(0, 0%, 0%);
    }
}

@layer fonts {
    @font-face {
        font-family: 'Segoe UI normal';
        src: url(/assets/fonts/segoeuithis.ttf);
    }

    @font-face {
        font-family: 'Segoe UI bold';
        src: url(/assets/fonts/segoeuithibd.ttf);
    }

    :root {
        --font-segoe-bold: 'Segoe UI bold', 'Noto Sans', sans-serif;
        --font-segoe-normal: 'Segoe UI normal', 'Noto Sans', sans-serif;

        --fontsize-32: calc(32/16 * 1rem);
        --fontsize-30: calc(30/16 * 1rem);
        --fontsize-24: calc(24/16 * 1rem);
        --fontsize-22: calc(22/16 * 1rem);
        --fontsize-20: calc(20/16 * 1rem);
        --fontsize-18: calc(18/16 * 1rem);
        --fontsize-16: 1rem;
        --fontsize-14: calc(14/16 * 1rem);
    }

    h1 {
        font-size: var(--fontsize-32);
        letter-spacing: -0.75px;
        line-height: 1.4;
    }

    h2 {
        font-size: var(--fontsize-24);
        letter-spacing: -0.55px;
        line-height: 1.6;
    }

    h3 {
        font-size: var(--fontsize-20);
        letter-spacing: -0.07px;
        line-height: 1.3;
    }

    p {
        line-height: 1.6;
    }

    /* ***** Media queries ***** */
    @media screen and (max-width: calc(900/16 * 1rem)) {
        h1 {
            font-size: var(--fontsize-30);
        }

        h2 {
            font-size: var(--fontsize-22);
        }

        h3 {
            font-size: var(--fontsize-18);
        }
    }
}

@layer layout {
    :root {
        --layout-padding: 1rem;
        --layout-breakout: 1rem;
        --layout-container: calc(1200/16 * 1rem);
    }

    .layout_wrapper {
        display: grid;
        grid-template-columns:
            [grid-fullbleed-start] minmax(var(--layout-padding), 1fr) [grid-breakout-start] minmax(0, var(--layout-breakout)) [grid-content-start] min(100% - var(--layout-padding) * 2, var(--layout-container)) [grid-content-end] minmax(0, var(--layout-breakout)) [grid-breakout-end] minmax(var(--layout-padding), 1fr) [grid-fullbleed-end];
    }

    .layout_wrapper > *,
    .layout_wrapper .layout_container {
        grid-column: grid-content;
    }

    .layout_wrapper .layout_breakout {
        grid-column: grid-breakout;
    }

    .layout_wrapper .layout_fullbleed {
        grid-column: grid-fullbleed;
    }

    .layout_container > :not(.layout_breakout, .layout_fullbleed),
    .layout_fullbleed > :not(.layout_breakout, .layout_fullbleed) {
        grid-column: grid-content;
    }

    .layout_container .layout_breakout {
        grid-column: grid-breakout;
    }

    .layout_container .layout_fullbleed {
        grid-column: grid-fullbleed;
    }
}

@layer global {

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        max-width: 100%;
        min-height: 100vh;

        background-color: var(--color-bluish-gray);
        transition: .5s all ease;
        position: relative;
    }

    a,
    p {
        font-weight: 500;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    svg {
        object-fit: contain;
    }
}

@layer scrollbar {
    body::-webkit-scrollbar {
        width: 9px;
    }

    body::-webkit-scrollbar-thumb {
        background: var(--color-bluish-gray);
        border: 2px solid var(--color-mute);
        border-radius: 20px;
    }

    body::-webkit-scrollbar-track {
        background: var(--color-mute);
    }

    body::-webkit-scrollbar-thumb:hover,
    body::-webkit-scrollbar-thumb:active {
        background: var(--color-border);
    }
}

@layer navbar {

    /* sidebar section */
    .sidebar_section {
        width: calc(350/16 *1rem);
        z-index: 99;

        transform: translateX(-120%);
        transition: transform .4s ease-in-out;
    }

    .sidebar_navigation::-webkit-scrollbar {
        width: 11px;
    }

    .sidebar_navigation::-webkit-scrollbar-thumb {
        background: var(--color-bluish-gray);
        border: 2px solid var(--color-mute);
        border-radius: 20px;
    }

    .sidebar_navigation::-webkit-scrollbar-track {
        background: var(--color-mute);
        border-radius: 20px;
    }

    .sidebar_navigation::-webkit-scrollbar-thumb:hover,
    .sidebar_navigation::-webkit-scrollbar-thumb:active {
        background: var(--color-light-gray);
    }

    /* toggle open and close the sidebar */
    input[type='checkbox']#sidebar_check:checked ~ aside.sidebar_section {
        transform: translateX(0);
    }

    div.background_overlay {
        opacity: 0;
        visibility: hidden;
        transition: opacity .4s ease, visibility .4s ease;
        z-index: 95;
    }

    input[type='checkbox']#sidebar_check:checked ~ div.background_overlay {
        opacity: 0.4;
        visibility: visible;
    }

    /* searchbar section */
    .searchbar_section {
        width: calc(768/16 *1rem);
        left: 5%;
        z-index: 89;

        transform: translateY(-120%);
        transition: transform .4s ease-in-out;
    }

    /* toggle open and close the searchbar */
    input[type='checkbox']#searchbar_check:checked ~ div.searchbar_section {
        transform: translateY(0);
    }

    label.background_overlay {
        opacity: 0;
        visibility: hidden;
        transition: opacity .4s ease, visibility .4s ease;
        z-index: 85;
    }

    input[type='checkbox']#searchbar_check:checked ~ label.background_overlay {
        opacity: 0.4;
        visibility: visible;
    }

    /* profilebar section */
    .profilebar_section {
        width: calc(300/16 *1rem);
        top: 3.5rem;
        right: 1rem;
        z-index: 79;

        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
        transition: visibility .4s ease-in-out, opacity .4s ease-in-out, transform .4s ease-in-out;
    }

    /* toggle open and close the profilebar */
    input[type='checkbox']#profile_check:checked ~ div.profilebar_section {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    /* media queries */
    @media screen and (max-width: calc(768/16 *1rem)) {
        .searchbar_section {
            width: 100%;
            left: 0;
        }
    }

    @media screen and (max-width: calc(576/16 *1rem)) {
        .sidebar_section {
            width: 100%;
            border: none;
            border-radius: 0;
        }

        .sidebar_navigation::-webkit-scrollbar {
            display: none;
        }

        .profilebar_section {
            width: 100%;
            top: 0;
            left: 0;
            z-index: 69;
            transform: translateY(-120%);
        }
    }
}

@layer minibar {
    .git_overview {
        position: relative;
    }

    .git_overview::after {
        content: '';
        width: 100%;
        height: 3px;
        border-radius: 5px;

        position: absolute;
        bottom: -15px;
        left: 0;
        background: var(--color-pale-orange);
    }
}

@layer profile {
    .profile_user {
        width: calc(480/16 * 1rem);
    }

    .profile_about {
        width: 100%;
    }

    .profile_user .user_avatar {
        position: relative;
    }

    .profile_user .user_avatar .avatar_quote {
        position: absolute;
        right: 0;
        bottom: 5rem;
        transition: width .4s ease-in-out;
    }

    .profile_user .user_avatar .avatar_quote:hover {
        width: fit-content;
    }

    .profile_user .user_avatar .avatar_quote:hover::after {
        content: 'Creating new stuffs.';
    }

    .chain_svg {
        opacity: 0;
        transition: opacity .4s ease;
    }

    .title_link:hover .chain_svg {
        opacity: 1;
    }

    @media screen and (max-width: calc(576/16 *1rem)) {
        .profile_user {
            width: 100%;
        }
    }
}